<%- fields_for "multi_objs[]", iform do |f| -%>
  <tr class="iform">
    <td><%= f.text_field :file, :size => 75 %></td>
    <td colspan="2">
      <%= link_to_function 'Remove', "$(this).up('.iform').remove();" %>
    </td>
  </tr>
<%- end -%>
