<% title "Privacy Policy" %>

<h2><%=h(yield :title)%></h2>

<p>
Personal information that you provide by e-mail or web forms will be 
used only for the purpose of sending information to you about our 
services, responding to your questions or comments, or as otherwise may
be described at the point of collection (for example on a web form).  
If you provide contact information, TSYS staff may contact you to clarify 
your comment or question, to provide more detailed information to you, 
or, if you are an existing customer, to learn about your level of 
satisfaction with our services.
</p>
<p>
Personal information that you provide by e-mail or web forms is not sold to third parties.  Additionally, unless otherwise indicated at the point of collection, the personal information you provide by e-mail or web forms is not shared with third parties.  From time to time, however, we may disclose information to fulfill certain legal and regulatory requirements or if we believe, in good faith, that such disclosure is legally required or necessary to protect others' rights or to prevent harm.
</p>
<p>
As you use our website, our system collects server log data which includes, where possible, your IP address, your domain name, the type of browser and operating system you use, the pages you view, search requests, and in some cases data you submitted via web forms, and, if you linked to our site from another website, that website's address.  We aggregate this data and use it for statistical purposes.  The aggregate information helps us to ascertain, for example, the volume of our website users' interest in portions of our website, and to help us understand how to improve the navigation and content of our website.
</p>
<p>
We may use "cookies" on some pages of our site to help us serve you better each time you return.  A cookie is a small element of data that a website can send to your browser, which may then be stored on your system.  The data collected from cookies helps us determine how many people visit this site and what pages of the site they view.  We use this information to better serve all visitors as we improve our site content and design.  Most browsers accept cookies automatically, but can be configured not to accept them or to indicate when a cookie is being sent.
</p>
<p>
We take steps to make all information received from you online as secure as reasonably possible against unauthorized access and use, including limiting access to such data to only those employees with a business need to know.  When we transfer or receive certain sensitive information such as financial information, we redirect visitors to a secure server.
</p>
<p>
Your personal information will generally be stored in TSYS databases located in the United States.  Our policy is to ensure that your information is always granted the same level of protection no matter where it is stored.
</p>
