<span class="redbox_title">Note</span>
<p>
  Code reviews are performed throughout the dev and QA cycle by a tech lead or architect.
  Code reviews should aim to correct code formatting and naming  problems, performance issues,
  unused resources, unclosed connections to external processes, and departures from standard
  architecture practices, among other things.
</p>
