<span class="redbox_title">Note</span>
<p>
  Performance tests will not always be required.  Check with Tech Leads and Architects
  before each project to determine components that will or will not require load testing.
  This form should be prepopulated by leads for those where perf tests are required.
</p>
