<span class="redbox_title">Note</span>
<p>
  Maintain a unit test summary page for each feature in the project and developer.
  Developers are responsible for developing and execution unit test scripts.  Tech leads and
  architects should review and advise the developer on the scripts prior to execution.
</p>
