<span class="redbox_title">Note</span>
<p>
  An Application walkthrough should be performed at approximately 90% dev completion.
  The walkthrough team includes developer, tech lead, business analyst, project manager and tester.
  The goal is for Business Analysts to "walk through" the product and verify that it is in line 
  with expectations.  Deviation from functional design should be documented here and resolved.
</p>
