<div class="redbox_contents">
  <table>
    <tr>
      <td width="30" style="vertical-align: top"><%= image_tag "dialog-information.png" %></td>
      <td><p><%= yield %></p></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: right"><%= link_infobox_to_close %></td>
    </tr>
  </table>
<div>



