<div>
  <table class="search_contents">
    <tr>
      <td align="center"><%= yield %></td>
    </tr>
    <tr>
      <td style="text-align: right"><%= link_infobox_to_close %></td>
    </tr>
  </table>
<div>
